# DATABASE_URL="postgresql://neondb_owner:npg_IaKiW3hN0XxO@ep-holy-lab-aqj27puf.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require"
# NEXTAUTH_SECRET="0bb4169b4b42dff7ddc4554d72665949"
# NEXTAUTH_URL="https://your-app.vercel.app"
